body {
  margin: 0;
  font-size: 16px;
}

.nav {
  align-items: center;
  background: linear-gradient(#f7f7f7,#e2e2e2);
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  flex: 1;
  padding: 0.5rem 1rem;
}

.nav h1 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.evaluate {
  background: linear-gradient(#fdfdfd,#d2d3d6);
  border-radius: 17px;
  border: 1px solid rgba(0,0,0,.25);
  box-shadow: 0 1px 0 #fff;
  cursor: pointer;
  fill: #444;
  height: 34px;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  width: 34px;
}

.DraftEditor-root {
  font-family: monospace;
  min-height: 40rem;
  padding: 1rem;
}

.line {
  position: relative;
}

.line::before {
  content: attr(data-line-number);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.line-text {
  margin-left: 2em;
}
